<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Animals" icon="icon ion-ios-paw" href="#/tab/animals">
        <ion-nav-view name="tab-animals"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Fruits" icon="icon ion-social-apple" href="#/tab/fruits">
        <ion-nav-view name="tab-fruits"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Flowers" icon="icon ion-ios-flower" href="#/tab/flowers">
        <ion-nav-view name="tab-flowers"></ion-nav-view>
    </ion-tab>


</ion-tabs>
